<div id="form" class="form-area">
    <h1>Post Form</h1>
    <br/>
    <input type="text" placeholder="Title" [(ngModel)]="Title"><br/>
    <textarea type="text" placeholder="Details" [(ngModel)]="Detail"></textarea><br/>
    <input type="text" placeholder="Image Url" [(ngModel)]="imageURL"><br/>
    <input type="text" placeholder="Url" [(ngModel)]="URL"><br/>
    <input type="checkbox" [(ngModel)]="addBackground"/>
    <label>Set Background</label> 
</div>

<div class="preview-area">
    <span [class.add-background]="addBackground ? 'addBackground':''">{{Title}}</span>
    <br>
    <p>{{Detail}}</p>
    <br>
    <img [src]="imageURL" alt=""/>
    <br>
    <a [href]="URL" target="_blank">More Details</a>
</div>
