<app-navbar></app-navbar>

<br>
<hr/>
<app-form1></app-form1>
<app-post></app-post>
<div class="container-fluid">
  <form #userForm="ngForm">

    {{userForm.value | json}}

    <hr/>
    {{user | json}}
    <h1>Enrollement form</h1>
    <div ngModelGroup="Address"></div>
      <div class="form-group">
       <label>Name:</label>
       <input type="text" [class.is-invalid]="" required class="form-control" name="userName" [(ngModel)]="user.name"/>
       </div>
       <div class="form-group">
       <label>Email:</label>
       <input type="email" class="form-control" name="email" [(ngModel)]="user.email"/>
       </div>
       <div class="form-group">
        <label>Phone:</label>
        <input type="tel" class="form-control" name="phone" [(ngModel)]="user.phone"/>
        
       </div>
       <div class="form-group">
        <select class="custom-select"  name="topics" [(ngModel)]="user.topic">
           <option value="">I am interested in</option>
           <option *ngFor="let topic of topics"  >{{topic}}</option>
        </select>
       </div> 
       <div class="form-group">
        <label>Time Preference</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="timePreference" value="Morning" [(ngModel)]="user.timePreference"/>
            <label class="form-check-label" type="radio">
              Morning
            </label>
        </div>
        <div class="form-check">
            <input  class="form-check-input" type="radio" name="timePreference" value="Evening" [(ngModel)]="user.timePreference"/>
            <label  class="form-check-label" type="radio">
              Evening
            </label>
        </div>
        
        <div class="form-check">
          <input  class="form-check-input"  type="checkbox" name="Subscribe" [(ngModel)]="user.subscribe">
          <label class="form-check-label">Subscribe</label>
        </div>
       </div>     
       <div class="btn btn-">
       <button class="btn btn-primary">Submit</button>
      </div>
    </form>

</div>

<app-header></app-header>
<app-products [parentData]="name"></app-products>
<app-employee-list></app-employee-list>
